@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rajdhani&display=swap');

*{
    font-family: "Montserrat";
    box-sizing: border-box;
    font-size: 15px;
}

a{
    text-decoration: none;

}

body{
    background-image: url(background_etoile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

.header_accueil {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 295.5px);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .menu_header { grid-area: 2 / 1 / 3 / 2; }
    .logo_header { grid-area: 1 / 2 / 2 / 5; }
    .skin_perso { grid-area: 2 / 2 / 4 / 4; }
    .nom_perso { grid-area: 2 / 4 / 3 / 6; }
    .description_perso { grid-area: 3 / 4 / 4 / 6; } 
    .logo_bottom { grid-area: 1 / 5 / 2 / 6; }
    
@media screen and (max-width: 1200px) {
    .header_accueil{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .skin_perso img{
        width: 380px !important;
        margin-top: 100px;
    }

    .logo_header{
        width: 300px !important;
        height: 70px !important;
    }

    
    .carrousel{
        width: 2050px !important;
    
        }
    
    .carrousel img{
            width: 50px !important;
            margin-left: 10px !important;
        }
    .icon_menu{
        transform: scale(1) !important;
    }

    .menu_header div{
        display: none !important;
    }

    .menu:hover div{
        display: flex !important;
        backdrop-filter: blur(7px);
    }
    .menu:hover{
        height: 230px;
    }

    .menu{
        margin-top: 80px !important;
    }
}


    .menu_header div{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 200px;
        justify-content: space-between;
        color: white;
        padding-left: 8px;
        padding-right: 8px;
        border: solid white 1px;
        border-radius: 25px;
        
    
    }

    .menu_header img{
        width: 180px;
    }

    .icon_menu{
        transform: scale(0);
        width: 200px;
        z-index: 2;
    }

    .menu{
        width: 200px;
        height: 83px;
        position: absolute;
        margin-top: 195.5px;
    }
 
    
    .accueil{
        background-color: white !important;
        color: black !important;
    
    }
    .personnages{
            background-color: white !important;
            color: black !important;
        
    }
    
    .tierlist{
        background-color: white !important;
        color: black !important;
    
        }
    
    .home:hover{
        color: #C9A36A;
    }
    .perso:hover{
        color: #C9A36A;
    }
    .tl:hover{
        color: #C9A36A;
    }

footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        
.gauche { grid-area: 1 / 1 / 2 / 2; }
.milieu { grid-area: 1 / 2 / 2 / 3; }
.droite { grid-area: 1 / 3 / 2 / 4; }

.footer div{
            display: flex;
            justify-content: center;
            align-items: center;
        }



footer p{
            color: white;
}
footer a{
            color: white;
        }

 .milieu{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .milieu i{
    margin-right: 10px;
 }

 .milieu a{
    color: white;
 }

 .milieu a:hover{
    color: #C9A36A !important;
 }
 
 .droite{
    text-align: right;
 }



.gauche{
    display: flex;
    align-items: center;
}
 .gauche a:hover{
    color: #C9A36A;
 }

 
/* CARROUSEL*/

.logo_header{
    width: 930px;
    height: 100px;
    overflow: auto;
}


    .carrousel{
     width: 3440px;

    }

    .carrousel img{
        float: left;
        width: 70px;
        margin-left: 30px ;
        border-radius: 100%;
    }

    .carrousel img:hover {
        animation: zoom 1s both;
    }


    @keyframes zoom {
        0%{ transform: scale(1);}
        100%{transform: scale(1.1);}
        
      }

    .violet{
        background: linear-gradient(180deg, #351e5a, #8A5FCC );
    }

    .orange{
        background: linear-gradient(180deg, #835004, #C9A36A );
    }

.logo_bottom{
    z-index: -2;
}



    .logo_bottom img{
        width: 400px;
    }
        

    .info_perso{
        overflow: auto;
    }

    .info_perso p{
        font-size: 15px;
        color: white;
    }

    .skin_perso{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .description_perso{
        display: flex;
        flex-direction: column;
        height: 500px;
    }
    .nom_perso{
        display: flex;
        flex-direction: column;
        height: 200px ;
    }

    .nom_perso img{
        width: 70px;
        height: 70px;
    }

    .nom_perso p{
        font-size: 30px !important;
        color: white;
    }

    .skin_perso img{
        width: 1000px;
        z-index: -1;
    }

    .classe{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }
    .name{
        display: flex;
        justify-content: start;
    }







.menu_perso {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
        
.competence_menu { grid-area: 1 / 1 / 2 / 2; }
.build_menu { grid-area: 1 / 2 / 2 / 3; }

.menu_perso p{
    color: white;
}
.build_menu{
     display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: white solid 1px;
     
}
.competence_menu{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: white solid 1px;
     
      
}


.active{
    background-color: white !important;
}

.active p{
    color: black;
}
.inactif:hover p{
    color: #C9A36A;
}
     
.gras{
    font-weight: bolder;
    font-size: larger;
}

.italique{
    font-style: oblique;
}




.tab {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .bodyy { grid-area: 1 / 2 / 2 / 3; }
    .feet { grid-area: 2 / 2 / 3 / 3; }
    .planete_sphere { grid-area: 3 / 2 / 4 / 3; }
    .link_rope { grid-area: 4 / 2 / 5 / 3; }
    .nom_body { grid-area: 1 / 1 / 2 / 2; }
    .nom_feet { grid-area: 2 / 1 / 3 / 2; }
    .nom_sphere { grid-area: 3 / 1 / 4 / 2; }
    .nom_rope { grid-area: 4 / 1 / 5 / 2; }


    .tab div{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: solid white 1px;
    }


    .tab img{
        width: 35px;
        height: 35px;
    }

    .tab{
        margin-top: 30px;
    }

    .substats{
        color: white;
        display: flex;
        justify-content: center;
    }
  


