@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Rajdhani&display=swap');

*{
    font-family: "Montserrat";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --first-color: #47778B;
    --second-color: #eeeeee;
    --white: white;
    --gradient :linear-gradient(0.25turn,#47778B, #eeeeee, #47778B);
}

.body{
    background: url(../images/bg.jpg);
    background-attachment: fixed;
    background-size: contain;
}

.header{
    height: 150px;
    background-color: var(--second-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav{
    background-color: white;
    padding: 2rem;
}

.nav__ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.ul{
    list-style: none;
}

.ul__item__link{
    text-decoration: none;
    color: var(--first-color);
}

.ul__item__link:hover{
    color: red;
}

.self__image{
    margin:2rem 0;
    filter: drop-shadow(0 0 0.50rem rgba(0, 0, 0, 0.5));
}

.header__h1{
    color: var(--first-color);
}

.main{
    background-color: var(--first-color);
    margin: 0 1rem;
    text-align: center;
    color: var(--second-color);
    padding: 1rem;
}

.h3{
    font-size: 1.5rem;
    display: inline-block;
}

.h2{
    margin-bottom: 4rem;
}

.underline{
    background-image: linear-gradient(90deg, #47778B 0%, #47778B 5%, #eeeeee 45%, #eeeeee 55%, #47778B 95%, #47778B 100%);
    width: 200px;
    height: 3px;
    margin-bottom: 5rem;
}

.main__section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem;
    border-radius: 25px;
    padding: 2rem;
}

.button__cv{
    border: var(--second-color) solid 1px;
    border-radius: 20px;
    padding:  0.5rem 1rem;
    margin-top: 4rem;
    color: #eeeeee;
    text-decoration: none;
    transition: 0.2s;
}
.button__cv:hover{
    transform: scale(1.10);
}

.return__btn{
    position: fixed;
    right: 1vw;
    bottom: 5vh;
    z-index: 3;
    filter: drop-shadow(0 0 0.50rem rgba(0, 0, 0, 0.5));
}

.fa-arrow-turn-up:hover{
    color: red;
}

.fa-arrow-turn-up{
    font-size: 2rem;
    background: var(--second-color);
    padding: 1rem;
    border-radius: 20px;
    color: var(--first-color);
}

@media screen and (max-width:700px){
    .nav__ul{
        flex-direction: column;
    }

    .ul__item__link, .ul__item{
        padding: 1rem 0;
    }

}

/*     SECTION EXPERIENCE    */

.exp__section{
    display: flex;
    margin-top: 4rem;
}

.exp__div{
    width: auto;
}

.exp__separator{
    width: 2px;
    height: auto;
    background-color: var(--second-color);
    margin: 0 1rem;
}

.exp{
    background-color: var(--second-color);
    color: var(--first-color);
    padding: 1rem;
    border-radius: 5px;
    text-align: left;
    font-size: calc(0.6rem + 0.5vw);
    filter: drop-shadow(0 0 0.50rem rgba(0, 0, 0, 0.5));
}

.left__exp{
    margin-bottom: 10rem;
}

.right__exp{
    margin-top: 10rem;
}

/*     SECTION SKILLS     */

.card{
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
    color: var(--first-color);
    padding: 2rem;
    border-radius: 5px;
    filter: drop-shadow(0 0 0.50rem rgba(0, 0, 0, 0.5));
}

.skills__part{
    margin: 1rem 0;
}

.skills{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skill__cellule{
    background: var(--white);
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.h4{
    margin-bottom: 2rem;
}

@media screen and (max-width:700px){
    .skill__cellule{
        margin-right: 0;
    }

}

/*     SECTION PROJETS     */

.projects{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 3rem;
}


.project.hovering .project__img {
    opacity: 0.15;
}

.project{
    width: 40vw;
    position: relative;
    height: 37vh;
    list-style: none;
    transition: 0.5;
    display: none;
    border: solid 1px var(--second-color);
    filter: drop-shadow(0 0 0.50rem rgba(0, 0, 0, 0.5));
}

.project__img{
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    transition: 0.6s ease;
}

.project__p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: calc(0.6rem + 0.5vw);
}

.project__link{
    display: block;
    color: var(--second-color);
    margin-top: 1rem;
}

.current{
    display: block;
}

.fa-arrow-right, .fa-arrow-left{
    font-size: 4rem;
    margin: auto 0;
    transition: 0.2s;
}

.fa-arrow-right:hover, .fa-arrow-left:hover{
    transform: scale(1.1);
}

@media screen and (max-width:700px){
    .projects{
        flex-direction: column;
        margin-top: 0;
    }

    .project{
        width: 100%;
        height: 38vh;
        margin-top: 2rem;
    }

    #right-btn, #left-btn{
        display: none;
    }

    .project__img{
        position: static;
    }

    .project{
        display: flex;
        flex-direction: column;
    }

    .project__link{
        margin-bottom: 1rem;
    }
}

/*   SECTION LINKS   */

.main__section__links{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.mailto__btn{
    display: flex;
    justify-content: center;
    width: 40vw;
    padding: 1rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--first-color);
    background-color: var(--white);
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));
    transition: 0.2s ease;
    margin-bottom: 5rem;
}

.mailto__btn:hover{
    transform: scale(1.1);
}

.item__link{
    width: 50%;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--second-color);
    text-decoration: none;
    transition:0.2s ease;
}

.item__link:hover{
    transform: scale(1.10);
}

.fa-github, .fa-linkedin, .fa-envelope{
    font-size: calc(3rem + 0.5vw) ;
}


/*    FOOTER    */


.footer{
    background-color: var(--second-color);
    color: var(--first-color);
    text-align: center;
    font-style: italic;
    padding: 5rem 0rem;
}

.hr{
    border-color: var(--first-color);
    width: 66vw;
    margin: auto;
}
